{% extends 'base.html' %}
{% load static %}

{% block title %}E.G.E.S Sarl - Home{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="hero-content text-center text-white">
                    <h1 class="display-4">Welcome to E.G.E.S Sarl</h1>
                    <h2 class="lead">Your Global Engineering Service</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="row mb-4 justify-content-center">
                    <!-- A propos de nous section -->
                    <div class="col-lg-12" style="margin: 30px;">
                        <h3 class="text-center"><i class="fas fa-user"></i> A propos de nous</h3>
                        <p class="text-center">Le mot du Directeur: ...</p>
                        <p class="text-center">Un savoir-faire: ...</p>
                        <p class="text-center">Des moyens: ...</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Nos projets section -->
                    <div class="col-lg-12" style="margin: 30px;">
                        <h3 class="text-center"><i class="fas fa-folder-open"></i> Nos projets</h3>
                        <p class="text-center">Des Hommes: ...</p>
                        <p class="text-center">Des projets: ...</p>
                        <p class="text-center">Politique qualite: ...</p>
                        <p class="text-center">Politique SST (Sante Sécurité au Travail): ...</p>
                        <p class="text-center">Evaluation des risques associés au travail: ...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Image div with background image -->
                <div class="row">
                    <div class="col-lg-12" style="margin: 30px; background-image: url('{% static 'logo.png' %}'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="activities bg-light py-5">
    <div class="container">
        <h3 class="text-center mb-4"><i class="fas fa-suitcase"></i> Nos activités</h3><br>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <ul class="custom-list">
                    {% for activity in activities %}
                        {% if forloop.counter0|divisibleby:4 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        <div class="col-md-3">
                            <li>{{ activity.name }}</li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
